.main_picture {position: relative; width: 100%;height: 211px; background-image: url('/images/bn/bn_tour_info.jpg');}
.main_picture div {border-radius: 10px;}
.main_picture > div:nth-child(1){position: absolute;top: 35px;left: 300px;width: 128px;height: 141px;border: 1px solid #fff;z-index: 10; background-color: rgba(0,0,0,0.3);}
.main_picture div p{text-align: center;color: #fff;}
.main_picture div p:nth-child(1){font-size: 20px;padding-top: 14px; }
.main_picture > div:nth-child(2){position: absolute;top: 35px;left: 450px;width: 128px;height: 141px;border: 1px solid #fff;z-index: 10; background-color: rgba(0,0,0,0.3);}
.main_picture > div:nth-child(3){position: absolute;top: 70px;left: 700px;width: 500px;height: 70px; text-align: center;}
.main_picture > div:nth-child(3) h2{color: #fff; font-size: 30px;}
.main_picture > div:nth-child(3) p {font-size: 15px;}
.main_picture > div:nth-child(4){position: absolute;top: 35px;right: 450px;width: 128px;height: 141px;border: 1px solid #fff;z-index: 10; background-color: rgba(0,0,0,0.3);}
.main_picture > div:nth-child(5){position: absolute;top: 35px;right: 300px;width: 128px;height: 141px;border: 1px solid #fff;z-index: 10; background-color: rgba(0,0,0,0.3);}
.main{position: relative; width: 70%;height:100%;margin: 0 auto;}
.main .sub_button{position: sticky;top: 130px; width: 140px; height: 0;margin-top: 10px;}
.main .sub_button > div{border-radius: 10px;}
.main .sub_button > div:nth-child(1) p{color: #fff; font-size: 20px; text-align: center; }
.main .sub_button > div:nth-child(1){width: 150px;height: 80px;background-color: #2056b0;border: 1px solid #e8e8e8;padding-top: 20px;}
.main .sub_button > div:nth-child(2){width: 130px;height: 54px;background-color: rgba(0,0,0,0);border: 1px solid #e8e8e8;padding-top: 22px;padding-left: 20px;cursor: pointer;}
.main .sub_button > div:nth-child(2) p{color: #000; font-size: 20px; font-weight: normal;}
.main .sub_button > div:nth-child(2):hover{background-color: #2056b0;}
.main .sub_button > div:nth-child(2):hover p{color: #fff;}
.main .sub_button > div:nth-child(3){width: 130px;height: 54px;background-color: rgba(0,0,0,0);border: 1px solid #e8e8e8;padding-top: 22px;padding-left: 20px;cursor: pointer;}
.main .sub_button > div:nth-child(3) p{color: #000; font-size: 20px;}
.main .sub_button > div:nth-child(3):hover{background-color: #2056b0;}
.main .sub_button > div:nth-child(3):hover p{color: #fff;}
.main .sub_button > div:nth-child(4){width: 130px;height: 54px;background-color: rgba(0,0,0,0);border: 1px solid #e8e8e8;padding-top: 22px;padding-left: 20px;cursor: pointer;}
.main .sub_button > div:nth-child(4) p{color: #000; font-size: 20px;}
.main .sub_button > div:nth-child(4):hover{background-color: #2056b0;}
.main .sub_button > div:nth-child(4):hover p{color: #fff;}
.main .sub_button > div:nth-child(5){width: 130px;height: 54px;background-color: rgba(0,0,0,0);border: 1px solid #e8e8e8;padding-top: 22px;padding-left: 20px;cursor: pointer;}
.main .sub_button > div:nth-child(5) p{color: #000; font-size: 20px;}
.main .sub_button > div:nth-child(5):hover{background-color: #2056b0;}
.main .sub_button > div:nth-child(5):hover p{color: #fff;}
.main .sub_button > div:nth-child(6){width: 130px;height: 54px;background-color: rgba(0,0,0,0);border: 1px solid #e8e8e8;padding-top: 22px;padding-left: 20px;cursor: pointer;}
.main .sub_button > div:nth-child(6) p{color: #000; font-size: 20px;}
.main .sub_button > div:nth-child(6):hover{background-color: #2056b0;}
.main .sub_button > div:nth-child(6):hover p{color: #fff;}
.main .list{position: relative; top: 0; right: -90px; width: 85%;height: 100%;margin: 0 auto;}
.main .list > div:nth-child(1){position: relative; width: 100%;height: 50px;}
.main .list > div:nth-child(1) span:nth-child(1){position: absolute;left: 0; top:0; text-align: left;width: 50%;height: 50px; font-size: 30px; color: #000;line-height: 50px;}
.main .list > div:nth-child(1) span:nth-child(2){position: absolute;right: 0; top:20px; text-align: right;width: 50%;height: 30px; font-size: 15px;color: #373737;line-height: 30px;}
.main .list > div:nth-child(2){position: relative;top: 20px; width: 100%; height: 30px;}
.main .list > div:nth-child(2) ul{position:relative; top: 0; display: flex; width: 100%; text-align: center;font-size: 20px;}
.main .list > div:nth-child(2) ul li {display: block; flex: 1;border: 1px solid #e8e8e8; border-radius: 10px;}
.main .list > div:nth-child(2) ul li:hover {background-color: #2056b0;}
.main .list > div:nth-child(2) ul li:hover a {color: #fff;}
.main .list > div:nth-child(2) ul li a {display: inline-block; padding: 0 50px 0 50px;}
.main .list > div:nth-child(3){position: relative;top: 60px; width: 100%;height: 30px;}
.main .list > div:nth-child(3) selet{position: absolute; top: 0;left: 0;}
.main .list > div:nth-child(3) input{position: absolute; top: 0;left: 48px; width: 230px;}
.main .list > div:nth-child(3) a:nth-child(3) > button{position: absolute;left: 280px;width: 60px;height: 32px;border-radius: 5px;background-color:#2056b0;color: #fff;cursor: pointer;}
.main .list > div:nth-child(3) a:nth-child(3) > button i {font-size: 17px;}
.main .list > div:nth-child(3) a:nth-child(4) > button{position: absolute; right: 0;;width: 180px;height: 32px;border-radius: 5px;background-color:#2056b0;color: #fff;cursor: pointer;}
.main .list > div:nth-child(3) a:nth-child(4) > button p {font-size: 15px;}
.main .list > div:nth-child(4) {position: relative; top: 70px; width: 100%; height: 10px;background-color: #2056b0; border-radius: 3px;}
.main .list .list_range {position: relative; top: 80px; width: 100%; height: 100%;background-color: #fafafa;border-radius: 10px; }
.main .list .list_all{position: relative; width: 100%; height: 205px; border-bottom: 2px solid #e8e8e8;padding-top: 5px;}
.main .list .thum {position: absolute; left: 40px; width: 200px; height: 200px;background-color:#2056b0; border-radius: 10px;}
.main .list .thum img{position: absolute;left: 50%; top: 50%; width: 190px; height: 190px; transform: translate(-50%,-50%); border-radius: 10px;}
.main .list .txt {position: absolute; left: 260px;width: 810px; height: 200px;background-color: #2056b0; border-radius: 10px;text-overflow: ellipsis;white-space: nowrap; overflow: hidden; display: block; }
.main .list .txt > a {display: inline-block; position: absolute; left: 50%; top: 50%; width: 800px; height: 190px;background-color: #fafafa; transform: translate(-50%,-50%);border-radius: 10px;overflow: hidden;}
.main .list .txt > a h2 {position: absolute;top:20px;left: 20px; display:inline-block;height: 40px; width: 100px;background-color: #2056b0; color: #fff;text-align: center;padding-top: 10px;border-radius: 10px;}
.main .list .txt > a h3 {position: absolute;top:20px;left: 140px; display:inline-block;height: 40px; width: 400px; color: #000;text-align: left;border-radius: 10px; line-height: 40px;}
.main .list .txt > a span:nth-child(3){display: inline-block;position: absolute; top: 80px;left: 30px; width: 600px; height: 70px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.main .list .txt > a span:nth-child(3) p{ height: 60px;margin-bottom: 17px;font-size: 15px;font-weight: 300;color: #666666;line-height: 1.4;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;white-space: normal;}
.main .list .txt > a span:nth-child(4){position: absolute; top:150px;left: 30px;}
.main .list .txt > a span:nth-child(5){position: absolute; top:35px;left: 650px;}
.main .list .txt > a span:nth-child(6){position: absolute; top:70px;left: 650px;}
.main .list .txt > a span:nth-child(7){position: absolute; top:105px;left: 650px;}
.main .list .txt > a span:nth-child(8){position: absolute; top:140px;left: 650px;}
.main .list > div:nth-child(6) {position: relative; bottom: 0; width: 100%; height: 10px;background-color: #2056b0; border-radius: 3px;margin:170px 0 0;}
.main .list .list_all div a {display: block;}
.main .list .list_range .paging {position: relative;bottom:-50px; left: 50%; width: 400px;height: 30px; background-color: #fafafa;text-align: center; transform: translateX(-50%);}
.main .list .list_range .paging ul {display: flex;}
.main .list .list_range .paging ul li{flex: 1;justify-content: space-around;}
.main .list .list_range .paging ul li a{display: block; width:30px;height: 28px;border: 1px solid #000;border-radius: 5px; font-size: 17px;padding-top: 2px;}
.main .list .list_range .paging ul li:hover a {color: #fff;background-color: #2056b0;border-radius: 5px;}
.go_top{position: absolute; bottom: 100px;right: -10px;width: 20px;}

/*detail.php 에서 사용되는 css*/
.main .list .main_txt{ position: relative;top: 0; width: 100%;height: 100%;}
.main .list .main_txt .title{position: relative;top: 80px; width: 100%;height: 100px; border-bottom: 1px solid #e8e8e8;}
.main .list .main_txt .title h2 {display:inline-block;height: 40px; width: 100px;background-color: #2056b0; color: #fff;text-align: center;padding-top: 10px;border-radius: 10px;}
.main .list .main_txt .title span:nth-child(2){color: #000; font-size: 17px;}
.main .list .main_txt .title span:nth-child(3){position: absolute; top: 60px;left: 10px; color: #000;font-size: 14px;}
.main .list .main_txt .title span:nth-child(4){position: absolute; top: 60px;left: 60px; color: #373737;font-size: 14px;}
.main .list .main_txt .title span:nth-child(5){position: absolute; top: 60px; left: 680px; color: #000; font-size: 13px;}
.main .list .main_txt .title span:nth-child(6){position: absolute; top: 60px; left: 755px; color: #000; font-size: 13px;}
.main .list .main_txt .title span:nth-child(7){position: absolute; top: 60px; left: 830px; color: #000; font-size: 13px;}
.main .list .main_txt .title span:nth-child(8){position: absolute; top: 60px; left: 965px; color: #000; font-size: 13px;}
.main .list .main_txt .info_title {position: relative;top:100px; width: 100%; height: 140px;border-bottom: 1px solid #e8e8e8;}
.main .list .main_txt .info_title div:nth-child(1){position: relative; display:inline-block; top:0;left: 10px;}
.main .list .main_txt .info_title div:nth-child(1) i{display: inline-block;height: 32px;width: 32px;background-color: #ff9a9e;border-radius: 20px;text-align: center;line-height: 31px;color: #fff;}
.main .list .main_txt .info_title div:nth-child(2){position: relative;display:inline-block;top:0px;left: 20px;}
.main .list .main_txt .info_title div:nth-child(2) i{display: inline-block;height: 32px;width: 32px;background-color: #2056b0;border-radius: 20px;text-align: center;line-height: 31px;color: #fff;}
.main .list .main_txt .info_title div:nth-child(3){position: relative;display:inline-block;top:0px;left: 30px;}
.main .list .main_txt .info_title div:nth-child(3) i{display: inline-block;height: 32px;width: 32px;background-color: #330867;border-radius: 20px;text-align: center;line-height: 31px;color: #fff;}
.main .list .main_txt .info_title div:nth-child(4){position: relative;display:inline-block;top:0px;left: 40px;}
.main .list .main_txt .info_title div:nth-child(4) i{display: inline-block;height: 32px;width: 32px;background-color: #8fd3f4;border-radius: 20px;text-align: center;line-height: 31px;color: #fff;}
.main .list .main_txt .info_title div:nth-child(5){position: relative;top:20px; height: 60px;width: 100%;background-color: #f0f0f0;border-radius: 10px;color: #000;font-size: 16px;}
.main .list .main_txt .info_title div:nth-child(5) > span:nth-child(1) {position: absolute; top:20px;left: 20px;}
.main .list .main_txt .info_title div:nth-child(5) > span:nth-child(2) {position: absolute; top:20px;left: 110px;}
.main .list .main_txt .info_title div:nth-child(5) > span:nth-child(3) {position: absolute; top:20px;left: 185px;}
.main .list .main_txt .info_title div:nth-child(5) > span:nth-child(4) {position: absolute; top:20px;left: 275px;}
.main .list .main_txt .info_title div:nth-child(5) > span:nth-child(5) {position: absolute; top:20px;left: 335px;}
.main .list .main_txt .info_title div:nth-child(5) > span:nth-child(6) {position: absolute; top:20px;left: 425px;}
.main .list .main_txt .main_content {position: relative; width: 100%; height: 100%;}
.main .list .main_txt .main_content p{color: #000; font-size: 16px;}
.main .list .main_txt .go_top2{position: absolute; bottom: 0px;right: -20px;width: 20px;}
.main .dump3 {position: relative; bottom: 0; right: -90px; width: 85%; height: 10px;background-color: #2056b0; border-radius: 3px;margin:0 auto 10px;}