@charset "UTF-8";
	.wrap > div {position: relative}
	.wrap > div:after {content: ''; display: block; clear: both}
	h2.main_tit {padding: 30px 0 20px; font-size: 18px; font-family: 'NanumSquare'; font-weight: 700}
	.main_more {position: absolute; right: 15px; top: 31px; display: block; padding-right: 15px; background: url(/asset/images/main/arrow_main_direct01.png) no-repeat 100% center; font-size: 13px; font-weight: 300; color: #555}

	 #ui-datepicker-div {width: 640px !important; box-sizing: border-box;background-color:#fff;}
	
	.main_visual {position: relative; margin-top: 60px}
	.main_visual .main_slider img {width: 100%}
	.main_visual .main_slider .img {height: 300px}
	.main_visual .main_slider .slick-arrow {display: none !important}
	.main_visual .main_slider .slick-dots {position: absolute; bottom: 12px; width: 100%; font-size: 0 ; text-align: center}
	.main_visual .main_slider .slick-dots li {display: inline-block; width: 14px; height: 14px; margin-right: 6px; background: url(/asset/images/main/pager_off.png) no-repeat center center; background-size: cover; text-indent: -9999px}
	.main_visual .main_slider .slick-dots li:last-child {margin-right: 0}
	.main_visual .main_slider .slick-dots li.slick-active {background: url(/asset/images/main/pager_on.png) no-repeat center center; background-size: cover; }
	.main_visual .main_slider .main_visual_txt.c{text-align:center; }
	.main_visual .main_slider .main_visual_txt.c img{width:auto;}
	
	.quick_menu {width: 100%; margin-top: 1px; margin-bottom: 20px; background-color: #eeeeee;}
	.quick_menu ul {overflow: hidden; height: 113px}
	.quick_menu ul li {float: left; width: 33.33%; height: 100%;  border-right: 1px solid #fff; box-sizing: border-box}
	.quick_menu ul li:nth-child(3) {border-right: 0}
	.quick_menu ul li a {display: block; overflow: hidden; width: 100%; height: 100%}
	.quick_menu ul li a > span {display: table; width: 100%; text-align: center}
	.quick_menu ul li a > span > span {display: table-cell; vertical-align: middle}
	.quick_menu ul li a span.icon {height: 66px; padding-top: 8px; padding-bottom: 0px}
	.quick_menu ul li:nth-child(1) span.icon img {width: 42px}
	.quick_menu ul li:nth-child(2) span.icon img {width: 32px}
	.quick_menu ul li:nth-child(3) span.icon img {width: 42px}
	.quick_menu ul li a span.txt {font-size: 15px; font-family: 'Noto Sans KR'; font-weight: 400; letter-spacing: -0.03em}

	.main_plan_form {}
	.main_plan_form .tab_btn {border: 1px solid #c7c7c7; border-bottom: 0; display: block}
	.main_plan_form .tab_btn:after {content: ''; display: block; clear: both}
	.main_plan_form .tab_btn li {float: left; width: 50%; text-align: center}
	.main_plan_form .tab_btn li a {position: relative; display: block; width: 100%; height: 42px; background: #f6f6f6; font-size: 17px; letter-spacing: -0.03em; line-height: 42px;}
	.main_plan_form .tab_btn li a.on {background: #01b6ed; color: #fff}
	.main_plan_form .tab_btn li a.on:after {position: absolute; bottom: -8px; left: 50%; margin-left: -4px; content: ''; display: block; width: 0px; height: 0px; border-top: 8px solid #01b6ed; border-left: 8px solid transparent; border-right: 8px solid transparent}
     /* ������� */	
	.main_plan_form .mtab_btn {border: 1px solid #c7c7c7; border-bottom: 0; display: block}
	.main_plan_form .mtab_btn:after {content: ''; display: block; clear: both}
	.main_plan_form .mtab_btn li {float: left; width: 50%; text-align: center}
	.main_plan_form .mtab_btn li a {position: relative; display: block; width: 100%; height: 42px; background: #f6f6f6; font-size: 17px; letter-spacing: -0.03em; line-height: 42px;}
	.main_plan_form .mtab_btn li a.on {background: #01b6ed; color: #fff}
	.main_plan_form .mtab_btn li a.on:after {position: absolute; bottom: -8px; left: 50%; margin-left: -4px; content: ''; display: block; width: 0px; height: 0px; border-top: 8px solid #01b6ed; border-left: 8px solid transparent; border-right: 8px solid transparent}

	
	.main_plan_form .tab_cont_wrap {border: 1px solid #c7c7c7; border-top: 0}
	.main_plan_form .tab_cont_wrap .tab_cont {padding-top: 30px}
	.main_plan_form .tab_cont_wrap .tab_cont p {padding: 0 15px 16px; font-size: 0}
	.main_plan_form .tab_cont_wrap .tab_cont label {display: inline-block; width: 60px; padding-right: 8px; font-size: 14px}
	.main_plan_form .tab_cont_wrap .tab_cont select {width: calc(100% - 68px); height: 32px; padding: 3px 3px 3px 7px; border: 1px solid #dbdbdb; color: #333}
	.main_plan_form .tab_cont_wrap .tab_cont input {width: calc(100% - 68px); padding: 3px 0 3px 7px; height: 32px; border: 1px solid #dbdbdb}
	.main_plan_form .tab_cont_wrap .tab_cont input::-webkit-input-placeholder {color: #cbcaca}
	.main_plan_form .tab_cont_wrap .tab_cont input:-moz-placeholder {color: #cbcaca}
	.main_plan_form .tab_cont_wrap .tab_cont input::-moz-placeholder {color: #cbcaca}
	.main_plan_form .tab_cont_wrap .tab_cont input:-ms-input-placeholder {  color: #cbcaca}
	.main_plan_form .tab_cont_wrap .tab_cont p.num .num_select01 {width: calc(33.3% - 38px); margin-right: 8px}
	.main_plan_form .tab_cont_wrap .tab_cont p.num .num_select02 {width: calc(33.3% - 38px); margin-right: 8px}
	.main_plan_form .tab_cont_wrap .tab_cont p.num .num_select03 {width: calc(33.3% - 38px)}
	.main_plan_form .tab_cont_wrap .tab_cont .estimate {width: 100%; background: #2056af; font-size: 15px; color: #fff; height: 40px; line-height: 40px; letter-spacing: -0.03em}
	.main_plan_form .tab_cont_wrap .tab_cont .date input {background: url(/asset/images/common/ico_cal.jpg) no-repeat 98% center; background-size: 21px}
	.main_plan_form .tab_cont_wrap .tab_cont .date input::-webkit-input-placeholder {color: transparent}
	.main_plan_form .tab_cont_wrap .tab_cont .date input:-moz-placeholder {color: transparent}
	.main_plan_form .tab_cont_wrap .tab_cont .date input::-moz-placeholder {color: transparent}
	.main_plan_form .tab_cont_wrap .tab_cont .date input:-ms-input-placeholder {color: transparent}

	.main_popular {padding-bottom: 33px}
	.main_popular .popular {background: none}
	.main_popular .popular:after {content:''; display: block; clear: both}
	.main_popular .popular div.popular_cont {position: relative; float: left; width: calc(50% - 7px); margin-bottom: 14px;  box-sizing: border-box}
	.main_popular .popular div.popular_cont:nth-child(1), .main_popular .popular div.popular_cont:nth-child(3), .main_popular .popular div.popular_cont:nth-child(5) {margin-right: 14px}
	.main_popular .popular div.popular_cont img {width: 100%; height:146px;}
	.main_popular .popular div.popular_cont span {display: inline-block; color: #fff; font-weight: 300; vertical-align: middle}
	.main_popular .popular div.popular_cont .nation {position: absolute; top: 0; left: 0; width: 50px; height: 50px; background: #00baf2 url(/asset/images/common/ico_star.jpg) no-repeat center 8px; background-size: 15px; text-align: center; font-size: 13px; box-sizing: border-box; padding-top: 25px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .info {position: absolute; bottom: 0; left: 0; width: 100%; height: 83px; padding: 8px 15px 0 15px; background: rgba(0,0,0,0.5); box-sizing: border-box}
	.main_popular .popular div.popular_cont .period:after {content: ''; display: inline-block; }
	.main_popular .popular div.popular_cont .place {max-width: 110px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .tit {display: block; font-size: 16px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .date {display: block; float: none; font-size: 15px}

	.main_community {padding-bottom: 30px; background: #f4f4f4}
	.main_community .inner > div {overflow: hidden}
	.main_community .inner > div > div {width: 50%; height: 157px}
	.main_community .inner > div .txt {background: #fff}
	.main_community .inner > div .txt a {position: relative; display: block; height: 100%; background: url(/asset/images/main/btn_arrow_off.jpg) no-repeat center 117px; background-size: 24px}
	.main_community .inner > div.community01 .txt a:after, .main_community .inner > div.community03 .txt a:after {position: absolute; right: -12px; top: 50%;  margin-top: -12px; content: ''; display: block; width: 0px; height: 0px; border-top: 12px solid transparent; border-left: 12px solid #fff; border-bottom: 12px solid transparent}
	.main_community .inner > div.community02 .txt a:after, .main_community .inner > div.community04 .txt a:after {position: absolute; left: -12px; top: 50%;  margin-top: -12px; content: ''; display: block; width: 0px; height: 0px; border-top: 12px solid transparent; border-right: 12px solid #fff; border-bottom: 12px solid transparent}
	.main_community .inner > div .txt span {display: block; text-align: center}
	.main_community .inner > div .txt span.kinds {padding-top: 13px; padding-bottom: 4px; font-size: 15px; color: #01b6ed}
	.main_community .inner > div .txt span.tit {padding-bottom: 3px; margin: 0 10px; font-size: 13px; color: #000; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_community .inner > div .txt span.desc {margin: 0 7px; font-size: 12px; color: #888; font-weight: 300; height: 31px; letter-spacing: -0.03em; line-height: 1.3;  -webkit-line-clamp:2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 1.3; display: -webkit-box}
	.main_community .inner > div .txt span.date {padding-bottom: 13px; font-size: 12px; font-weight: 300; color: #888; letter-spacing: -0.05em}
	.main_community .inner > div .img {background-color: #fafafa; background-size: cover; background-repeat: no-repeat; background-position: center center}
	.main_community .inner > div .img > .confirm-yn { position:absolute;width:50px;color:#fff;height:50px;margin-left:10px;line-height:50px; float:left;background:url(/asset/images/common/confirm_yn.gif) center top  no-repeat;text-align:center; }
	
	.main_community .inner > div .img_none {background-size: 128px}
	.main_community .community01 .txt,.main_community .community03 .txt {float: left}
	.main_community .community01 .img,.main_community .community03 .img {float: right}
	.main_community .community02 .txt,.main_community .community04 .txt {float: right}
	.main_community .community02 .img,.main_community .community04 .img {float: left}


	.main_recommend {padding-bottom: 30px;background: url(/asset/images/main/bg_main_recommend.jpg) no-repeat center center;}
	.main_recommend h2 {padding-left: 15px; color: #fff}
	.main_recommend .main_more {background: url(/asset/images/main/arrow_main_direct02.png) no-repeat 100% center; color: #b0b0b0}
	.main_recommend .recommend_slider {width: 100%}
	.main_recommend .recommend_slider .slick-slide {position: relative; margin: 0 10px;}
	.main_recommend .recommend_slider .slick-slide a {display: block; width: 100%; height: 100%}
	.main_recommend .recommend_slider .slick-slide img {width: 100%}
	.main_recommend .recommend_slider  .reommend-img {width: 353px;height:408px;}
	.main_recommend .recommend_slider .slick-slide {display: block}
	.main_recommend .recommend_slider .slick-slide .info {position: absolute; bottom: 0; left: 0; width: 100%; padding: 15px 10px 0 10px; height: 88px; background: #2056af; color: #fff; display: block; box-sizing: border-box}
	.main_recommend .recommend_slider .slick-slide .info span {}
	.main_recommend .recommend_slider .slick-slide .info .tit  {width: 100%; font-weight: 400; height: 40px; word-break: break-all; -webkit-line-clamp:2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; line-height: 1.3; display: -webkit-box}
	.main_recommend .recommend_slider .slick-slide .info .date {float: right; width: 100%; font-weight: 300; text-align: right;}
	.main_recommend .recommend_slider .slick-slide .pc_link {display: none}
	.main_recommend .arrow_slider {padding-top: 30px; font-size: 0; text-align: center}
	.main_recommend .arrow_slider li {display: inline-block}
	.main_recommend .arrow_slider li button {display: block; width: 35px; height: 35px}
	.main_recommend .arrow_slider li button.recommend-slick-prev {background: url(/asset/images/main/arrow_cont3_left.png) no-repeat center center; background-size: cover}
	.main_recommend .arrow_slider li button.recommend-slick-next {position: relative; left: -1px; background: url(/asset/images/main/arrow_cont3_right.png) no-repeat center center; background-size: cover}

	.main_tour {margin-top: 30px; padding-bottom: 70px}
	.main_tour .tab_btn {overflow: hidden; display: block}
	.main_tour .tab_btn li {float: left; width: 33.33%; text-align: center}
	.main_tour .tab_btn li a {display: block; height: 42px; font-size: 17px; line-height: 42px; border: 1px solid #f7b934; border-right: none}
	.main_tour .tab_btn li a.on {background: #f7b934; color: #fff}
	.main_tour .tab_btn li:last-child a {border-right: 1px solid #f7b934}
	.main_tour .tab_cont_wrap {padding: 15px; margin-bottom: 50px; border: 1px solid #f7b934; border-top: none}
	.main_tour .tab_cont_wrap .tab_cont {}
	.main_tour .tab_cont_wrap .tab_cont span {display: block}
	.main_tour .tab_cont_wrap .tab_cont .comment_main img {width: 100%; height:242px;}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub {display:none}
	.main_tour .tab_cont_wrap .tab_cont .info {position: relative}
	.main_tour .tab_cont_wrap .tab_cont .info .nation {padding-top: 15px; padding-bottom: 3px; font-size: 17px; color: #f7b934}
	.main_tour .tab_cont_wrap .tab_cont .info .nation:before {content: '['}
	.main_tour .tab_cont_wrap .tab_cont .info .nation:after {content: ']'}
	.main_tour .tab_cont_wrap .tab_cont .info .place {color: #242424}
	.main_tour .tab_cont_wrap .tab_cont .info .comment {font-weight: 300; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_tour .tab_cont_wrap .tab_cont .info .count {position: absolute; top: 15px; right: 2px}
	.main_tour .tab_cont_wrap .tab_cont ul.count:after {content: ''; display: block; clear: both}
	.main_tour .tab_cont_wrap .tab_cont ul.count li {float: left; font-weight: 300}
	.main_tour .tab_cont_wrap .tab_cont ul.count li.count01 {padding-left: 14px; margin-right: 15px;  background: url(/asset/images/common/icon_f.png) no-repeat 0 center; background-size: 12px;}
	.main_tour .tab_cont_wrap .tab_cont ul.count li.count02 {padding-left: 14px; background: url(/asset/images/common/ico_post.jpg) no-repeat 0 center; background-size: 12px}
	.main_tour .main_tour_more {position: absolute; bottom: 64px; left: 50%; margin-left: -60px; display: block; width: 120px; height: 34px; border: 1px solid #f6b833; background: url(/asset/images/main/arrow_main_tour_more.gif) no-repeat 90px center; font-size: 13px; font-weight: 300; color: #f6b833; line-height: 34px; text-indent: 20px; }

	/* ���� �ο��� FULLSIZE*/
	.main-su-box { display:none;border:1px solid #c7c7c7;position:absolute;padding:10px 10px;background-color:#fff;margin-top:-55px; }
	.main-su-box.on { display:block; z-index:99;}
	 div.main-su-box  > .box-outer { display:block;width:100%; }
	 div.main-su-box  > .box-outer > .box1 { width:40%;float:left;text-align:left; }
	 div.main-su-box  > .box-outer > .box2 { width:60%;float:left; }
	 div.main-su-box  > .box-outer > .box2  .lbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
	 div.main-su-box  > .box-outer > .box2  .cbox { width:32%;float:left;border:1px solid #ccc;text-align:center;height:30px; cursor:pointer; }
	 div.main-su-box  > .box-outer > .box2  .cbox  input{ border:0px;text-align:center; font-size:13px;font-weight:normal;color:#000;height:25px;width:100%;}
	 div.main-su-box  > .box-outer > .box2  .rbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
	.gm-style  div[style *= "width: 30px; height: 33px;"]{margin-top: 6px !important; margin-left: 2px !important;} /*구글맵 이미지마커 아이콘 맞추기용*/

@media screen and (min-width: 768px) and (max-width: 1219px){
     /*edit 01 img 165line delete 172line edit */
	 h2.main_tit {padding: 45px 0 10px; font-size: 23px; text-align: center}
	.main_more {position: static; right: auto; top: auto; display: block; width: 80px; padding-right: 15px; margin: 0 auto 35px; background: url(/asset/images/main/arrow_main_direct01.png) no-repeat 100% center; font-size: 15px; text-align: center}
	.main_visual {width: 100%;  margin-top: 60px}
	.main_visual .main_slider .img {height: 450px}
	/* .main_visual .main_slider img {display: none}  */

	.main_visual .main_slider .slick-arrow {display: block !important}
	.main_visual .main_slider .slick-arrow {position: absolute; top: 50%; margin-top: -90px; width: 34px; height: 64px; text-indent: -9999px; z-index: 101}
	.main_visual .main_slider .slick-prev {left: 20px; background: url(/asset/images/main/arrow_main_visual_prev.png) no-repeat 0 0; background-size: cover}
	.main_visual .main_slider .slick-next {right: 20px; background: url(/asset/images/main/arrow_main_visual_next.png) no-repeat 0 0; background-size: cover}
	.main_visual .main_slider .slick-dots {display: none !important}
	.main_visual .main_slider  .img  .main_visual_txt {position:absolute; top: 14%; left: 50%; width: 470px; margin-left: -235px}
	
	/* .main_visual .main_slider  .img  .main_visual_txt {position:absolute; top: 10%; left:calc(50% - 354px) ;width: 708px; } */

	.quick_menu {position: absolute; bottom: 0; left: 0; width: 100%; height: 120px; margin: 0;  background-color: rgba(255,255,255,0.75)}
	.quick_menu ul {overflow: hidden; height: 120px}
	.quick_menu ul li {float: left; width: 33.33%; height: 100%;  border-right: 1px solid #b5c6cf; box-sizing: border-box}
	.quick_menu ul li:nth-child(1) {border-left: 1px solid #b5c6cf}
	.quick_menu ul li a {display: block; overflow: hidden; width: 100%; height: 100%}
	.quick_menu ul li a > span {display: block; width: auto; height: auto; float: left; padding-top: 54px; padding-bottom: 10px}
	.quick_menu ul li a > span > span {display: block; width: auto; font-size: 18px}
	.quick_menu ul li a span.icon {text-align: right; padding-top: 35px}
	.quick_menu ul li a span.icon img {width: auto}
	.quick_menu ul li:nth-child(1) a span.icon {width: 40%}
	.quick_menu ul li:nth-child(2) a span.icon {width: 40%}
	.quick_menu ul li:nth-child(3) a span.icon {width: 40%}
	.quick_menu ul li:nth-child(1) span.icon img {width: 60px}
	.quick_menu ul li:nth-child(2) span.icon img {width: 43px}
	.quick_menu ul li:nth-child(3) span.icon img {width: 50px}
	.quick_menu ul li a span.txt {/*background: url(/asset/images/main/arrow_cont1.gif) no-repeat 100% 55px;*/width: 60%; padding-left: 20px; font-size: 21px; font-family: 'NanumSquare'; font-weight: 400; letter-spacing: -0.03em; text-align: left; box-sizing: border-box}
    
	.main_plan_form {padding-top: 60px}
	.main_plan_form:after {content: ''; display: block; clear: both}
	.main_plan_form .inner {}
	.main_plan_form .tab_btn {border: 1px solid #c7c7c7; border-bottom: 0}
	.main_plan_form .tab_btn:after {content: ''; display: block; clear: both}
	.main_plan_form .tab_btn li {float: left; width: 50%; text-align: center}
	.main_plan_form .tab_btn li a {position: relative; display: block; width: 100%; height: 42px; background: #f6f6f6; font-size: 17px; letter-spacing: -0.03em; line-height: 42px;}
	.main_plan_form .tab_btn li a.on {background: #01b6ed; color: #fff}
	.main_plan_form .tab_btn li a.on:after {position: absolute; bottom: -8px; left: 50%; margin-left: -4px; content: ''; display: block; width: 0px; height: 0px; border-top: 8px solid #01b6ed; border-left: 8px solid transparent; border-right: 8px solid transparent}
     /*�������*/ 
  	.main_plan_form .mtab_btn {border: 1px solid #c7c7c7; border-bottom: 0}
	.main_plan_form .mtab_btn:after {content: ''; display: block; clear: both}
	.main_plan_form .mtab_btn li {float: left; width: 50%; text-align: center}
	.main_plan_form .mtab_btn li a {position: relative; display: block; width: 100%; height: 42px; background: #f6f6f6; font-size: 17px; letter-spacing: -0.03em; line-height: 42px;}
	.main_plan_form .mtab_btn li a.on {background: #01b6ed; color: #fff}
	.main_plan_form .mtab_btn li a.on:after {position: absolute; bottom: -8px; left: 50%; margin-left: -4px; content: ''; display: block; width: 0px; height: 0px; border-top: 8px solid #01b6ed; border-left: 8px solid transparent; border-right: 8px solid transparent}

	
	.main_plan_form .tab_cont_wrap .tab_cont p {float: left; padding: 0 15px 16px; width: 49%; box-sizing: border-box}

	.main_popular {padding-bottom: 33px}
	.main_popular .popular:after {content:''; display: block; clear: both}
	.main_popular .popular div.popular_cont {position: relative; float: left; width: calc(33% - 10px); margin-bottom: 15px; box-sizing: border-box}
	.main_popular .popular div.popular_cont:nth-child(1), .main_popular .popular div.popular_cont:nth-child(2), .main_popular .popular div.popular_cont:nth-child(4), .main_popular .popular div.popular_cont:nth-child(5){margin-right: 15px}
	.main_popular .popular div.popular_cont:nth-child(3) {margin-right: 0}
	.main_popular .popular div.popular_cont img {width: 100%}
	.main_popular .popular div.popular_cont span {display: inline-block; color: #fff; font-weight: 300; vertical-align: middle}
	.main_popular .popular div.popular_cont .nation {position: absolute; top: 0; left: 0; width: 60px; height: 60px; background: #00baf2 url(/asset/images/common/ico_star.jpg) no-repeat center 11px; font-size: 16px; text-align: center; box-sizing: border-box; padding-top: 30px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .info {position: absolute; bottom: 0; left: 0; width: 100%; height: 83px; padding: 19px 15px 0 15px; background: rgba(0,0,0,0.5); box-sizing: border-box}
	.main_popular .popular div.popular_cont .period:after {content: ''; display: inline-block; }
	.main_popular .popular div.popular_cont .place {max-width: 80px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .tit {display: block; font-size: 16px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .date {position: absolute; bottom: 14px; right: 15px; font-size: 15px}

	.main_community {background: #f4f4f4; overflow: hidden}
	.main_community .inner > div {overflow: hidden;width: 50%; float: left; box-sizing: border-box}
	.main_community .inner > div > div {width: 50%; height: 250px}
	.main_community .inner > div .txt a {position: relative; display: block; height: 100%; background: url(/asset/images/main/btn_arrow_off.jpg) no-repeat center 204px; background-size: 32px}
	.main_community .inner > div.community01 .txt a:after, .main_community .inner > div.community02 .txt a:after {position: absolute; left: auto; right: -20px; top: 50%;  margin-top: -20px; content: ''; display: block; width: 0px; height: 0px; border-top: 20px solid transparent; border-left: 20px solid #fff; border-bottom: 20px solid transparent; border-right: 0}
	.main_community .inner > div.community03 .txt a:after, .main_community .inner > div.community04 .txt a:after {position: absolute; left: -20px; right: auto; top: 50%;  margin-top: -20px; content: ''; display: block; width: 0px; height: 0px; border-top: 20px solid transparent; border-right: 20px solid #fff; border-bottom: 20px solid transparent; border-left: 0}
	.main_community .inner > div .txt span.kinds {padding-top: 33px; padding-bottom: 12px; font-size: 19px;}
	.main_community .inner > div .txt span.tit {padding-bottom: 12px; margin: 0 15px; font-size: 16px;}
	.main_community .inner > div .txt span.desc { margin: 0 12px; font-size: 14px; height: 34px;}
	.main_community .inner > div .txt span.date {padding-top: 12px; font-size: 14px;}
	.main_community .inner > div .img_none {background-size: 146px}
	.main_community .community01 .txt, .main_community .community02 .txt, .main_community .community03 .img, .main_community .community04 .img {float: left}
	.main_community .community01 .img, .main_community .community02 .img, .main_community .community03 .txt, .main_community .community04 .txt {float: right}

	.main_tour {padding-bottom: 136px}
	.main_tour .tab_btn {overflow: hidden}
	.main_tour .tab_btn li {float: left; width: 33.33%; text-align: center}
	.main_tour .tab_btn li a {display: block; height: 50px; font-size: 17px; line-height: 50px; border: 1px solid #f7b934; border-right: none}
	.main_tour .tab_btn li a.on {background: #f7b934; color: #fff}
	.main_tour .tab_btn li:last-child a {border-right: 1px solid #f7b934}
	.main_tour .tab_cont_wrap {float: left; width: 100%; padding: 30px; border: 1px solid #f7b934; border-top: 0;  box-sizing: border-box}
	.main_tour .tab_cont_wrap .tab_cont:after {content: ''; display: block; clear: both}
	.main_tour .tab_cont_wrap .tab_cont .comment_main {float: left; width: 44%; padding-right: 15px; border-right: 1px solid #ededed; margin-right: 0; box-sizing: border-box}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub {display: block; float: left; width: 56%; padding-left: 15px; box-sizing: border-box}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub > div {padding-bottom: 12px; margin-bottom: 12px; border-bottom: 1px solid #ededed}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub > div:last-child {padding-bottom:0; margin-bottom: 0; border: 0}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub > div:after {content: ''; display: block; clear: both}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub .img {float: left; padding-right: 15px}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub .img img {width: 126px; height: 67px}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub .info {float: left; width: calc(100% - 145px)}
	.main_tour .tab_cont_wrap .tab_cont span {display: block}
	.main_tour .tab_cont_wrap .tab_cont .info {position: relative}
	.main_tour .tab_cont_wrap .tab_cont .info .nation {padding-top: 15px; padding-bottom: 3px; font-size: 16px; color: #f7b934}
	.main_tour .tab_cont_wrap .tab_cont .info .nation:before {content: '['}
	.main_tour .tab_cont_wrap .tab_cont .info .nation:after {content: ']'}
	.main_tour .tab_cont_wrap .tab_cont .info .comment {font-size: 15px}
	.main_tour .tab_cont_wrap .tab_cont .info .count {position: absolute; top: 15px; right: 2px; font-size: 15px;}
	.main_tour .main_tour_more {bottom: 100px; left: 50%; margin-left: -75px; width: 149px; height: 49px; font-size: 14px; background: url(/asset/images/main/arrow_main_tour_more.gif) no-repeat 113px center; line-height: 49px; text-indent: 28px}
   
    /* ���� �ο��� FULLSIZE*/
	.main-su-box { display:none;width:238px;border:1px solid #c7c7c7;position:absolute;right:0;margin-right:50px;margin-top:-50px;padding:10px 10px;background:#fff;z-index:999;float:right; }
	.main-su-box.on { display:block; z-index:99;}
	 div.main-su-box  > .box-outer { display:block;width:100%; }
	 div.main-su-box  > .box-outer > .box1 { width:40%;float:left;text-align:left; }
	 div.main-su-box  > .box-outer > .box2 { width:60%;float:left; }
	 div.main-su-box  > .box-outer > .box2  .lbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
	 div.main-su-box  > .box-outer > .box2  .cbox { width:32%;float:left;border:1px solid #ccc;text-align:center;height:30px; cursor:pointer; }
	 div.main-su-box  > .box-outer > .box2  .cbox  input{ border:0px;text-align:center; font-size:13px;font-weight:normal;color:#000;height:25px;width:100%;}
	 div.main-su-box  > .box-outer > .box2  .rbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
   

}

@media screen and (min-width: 1220px){

	h2.main_tit {padding: 64px 0 6px; font-size: 29px; text-align: center}
	.main_more {position: static; right: auto; top: auto; display: block; width: 80px; padding-right: 15px; margin: 0 auto 50px; background: url(/asset/images/main/arrow_main_direct01.png) no-repeat 100% center; font-size: 14px; text-align: center}
	.main_visual {position: relative; width: 100%; margin-top: 0}
	.main_visual .main_slider .img {height: 658px; background-size: cover !important}
	/* .main_visual .main_slider img {display: none} */
	.main_visual .main_slider .slick-arrow {display: block !important}
	.main_visual .main_slider .slick-arrow {position: absolute; top: 50%; margin-top: -132px; width: 44px; height: 83px; text-indent: -9999px; z-index: 101}
	.main_visual .main_slider .slick-prev {left: 50%; margin-left: -642px; background: url(/asset/images/main/arrow_main_visual_prev.png) no-repeat 0 0; background-size: cover}
	.main_visual .main_slider .slick-next {right: 50%; margin-right: -642px; background: url(/asset/images/main/arrow_main_visual_next.png) no-repeat 0 0; background-size: cover}
	.main_visual .main_slider .slick-dots {display: none !important}
	.quick_menu {position: absolute; bottom: 0; left: 0; width: 100%; height: 137px; margin: 0;  background-color: rgba(255,255,255,0.75)}
	.quick_menu ul {width: 1200px; margin: 0 auto; overflow: hidden; height: 137px}
	.quick_menu ul li {float: left; width: 33.33%; height: 100%;  border-right: 1px solid #b5c6cf; box-sizing: border-box}
	.quick_menu ul li:nth-child(1) {border-left: 1px solid #b5c6cf}
	.quick_menu ul li:nth-child(3) {border-right: 1px solid #b5c6cf}
	.quick_menu ul li a {display: block; overflow: hidden; width: 100%; height: 100%}
	.quick_menu ul li a > span {display: block; width: auto; height: auto; float: left; padding-top: 59px; padding-bottom: 10px}
	.quick_menu ul li a > span > span {display: block; width: auto}
	.quick_menu ul li a span.icon img {width: auto}
	.quick_menu ul li:nth-child(1) a span.icon {width: auto; padding-left: 78px; padding-right: 28px; padding-top: 41px}
	.quick_menu ul li:nth-child(2) a span.icon {width: auto; padding-left: 91px; padding-right: 25px; padding-top: 40px}
	.quick_menu ul li:nth-child(3) a span.icon {width: auto; padding-left: 79px; padding-right: 25px; padding-top: 39px}
	.quick_menu ul li:nth-child(1) span.icon img {width: auto}
	.quick_menu ul li:nth-child(2) span.icon img {width: auto}
	.quick_menu ul li:nth-child(3) span.icon img {width: auto}
	.quick_menu ul li a span.txt {width: auto; background: url(/asset/images/main/arrow_cont1.gif) no-repeat 100% 55px; font-size: 21px; font-family: 'NanumSquare'; font-weight: 400; letter-spacing: -0.03em}
	.quick_menu ul li:nth-child(1) a span.txt {padding-right: 69px}
	.quick_menu ul li:nth-child(2) a span.txt {padding-right: 91px}
	.quick_menu ul li:nth-child(3) a span.txt {padding-right: 109px}

	.main_plan_form {margin-top: 56px}
	.main_plan_form .inner:after {content: ''; display: block; clear: both}
	.main_plan_form .tab_btn {float: left; width: 151px; border-bottom: 1px solid #c7c7c7; border-right: 0}
	.main_plan_form .tab_btn:after {content: ''; display: block; clear: both}
	.main_plan_form .tab_btn li {float: none; width: 153px; text-align: center}
	.main_plan_form .tab_btn li a {height: 92px; background: #f6f6f6; font-size: 21px; font-weight: 700;  line-height: 92px;}
	.main_plan_form .tab_btn li a.on {background: #01b6ed; color: #fff}
	.main_plan_form .tab_btn li a.on:after {position: absolute; bottom: auto; right: -8px; top: 50%;  left: auto; margin-left: 0; margin-top: -4px; content: ''; display: block; width: 0px; height: 0px; border-top: 8px solid transparent; border-left: 8px solid #01b6ed; border-bottom: 8px solid transparent; border-right: none}
	/* ������� */
	.main_plan_form .mtab_btn {float: left; width: 151px; border-bottom: 1px solid #c7c7c7; border-right: 0}
	.main_plan_form .mtab_btn:after {content: ''; display: block; clear: both}
	.main_plan_form .mtab_btn li {float: none; width: 153px; text-align: center}
	.main_plan_form .mtab_btn li a {height: 92px; background: #f6f6f6; font-size: 21px; font-weight: 700;  line-height: 92px;}
	.main_plan_form .mtab_btn li a.on {background: #01b6ed; color: #fff}
	.main_plan_form .mtab_btn li a.on:after {position: absolute; bottom: auto; right: -8px; top: 50%;  left: auto; margin-left: 0; margin-top: -4px; content: ''; display: block; width: 0px; height: 0px; border-top: 8px solid transparent; border-left: 8px solid #01b6ed; border-bottom: 8px solid transparent; border-right: none}
	
	/* ���� �ο��� FULLSIZE*/
	.main-su-box { display:none;width:238px;border:1px solid #c7c7c7;position:absolute;margin-left:575px;margin-top:-30px;padding:10px 10px;background-color:#ffffff; }
	.main-su-box.on { display:block; z-index:99;}
	 div.main-su-box  > .box-outer { display:block;width:100%; }
	 div.main-su-box  > .box-outer > .box1 { width:40%;float:left;text-align:left; }
	 div.main-su-box  > .box-outer > .box2 { width:60%;float:left; }
	 div.main-su-box  > .box-outer > .box2  .lbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
	 div.main-su-box  > .box-outer > .box2  .cbox { width:32%;float:left;border:1px solid #ccc;text-align:center;height:30px; cursor:pointer; }
	 div.main-su-box  > .box-outer > .box2  .cbox  input{ border:0px;text-align:center; font-size:13px;font-weight:normal;color:#000;height:25px;width:100%;}
	 div.main-su-box  > .box-outer > .box2  .rbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}


	.main_plan_form .tab_cont_wrap {float: left; width: 1045px; border-top: 1px solid #c7c7c7; border-left: 0}
	.main_plan_form .tab_cont_wrap .tab_cont {padding-left: 31px; padding-bottom: 28px}
	.main_plan_form .tab_cont_wrap .tab_cont p {float: left; width: 260px; height: 50px; margin-right: 12px; padding: 6px 7px 0px 10px; font-size: 0; border: 1px solid #dbdbdb; box-sizing: border-box}
	.main_plan_form .tab_cont_wrap .tab_cont p:nth-child(1), .main_plan_form .tab_cont_wrap .tab_cont p:nth-child(2),	.main_plan_form .tab_cont_wrap .tab_cont p:nth-child(3) {margin-bottom: 26px}
	.main_plan_form .tab_cont_wrap .tab_cont label {display: inline-block; width: 60px; padding-right: 26px; font-size: 17px; font-weight: 300}
	.main_plan_form .tab_cont_wrap .tab_cont select {width: 155px; height: 36px;padding: 3px 3px 3px 7px; border: 1px solid #dbdbdb; font-size: 14px}
	.main_plan_form .tab_cont_wrap .tab_cont input {padding: 3px 0 3px 7px; height: 36px; border: none; font-size: 14px;}
	.main_plan_form .tab_cont_wrap .tab_cont p.num .num_select01 {width: 73px; margin-right: 9px}
	.main_plan_form .tab_cont_wrap .tab_cont p.num .num_select02 {width: 73px; margin-right: 9px}
	.main_plan_form .tab_cont_wrap .tab_cont p.num .num_select03 {width: 73px}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 > div {overflow:hidden; float: left; width: 822px}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 .plan01_2 {width: 153px}
	.main_plan_form .tab_cont_wrap .tab_cont .date input {background: url(/asset/images/common/ico_cal.jpg) no-repeat 100% center; background-size: 21px}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 .date {width: 124px}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 .date label {display: none}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 .date input {width: 100%; padding-left: 0; background-position: 83px center}
	.main_plan_form .tab_cont_wrap .tab_cont.plan02 .date input {width: 154px}
    .main_plan_form .tab_cont_wrap .tab_cont.plan01 .num {width: 264px}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 .num label {display: none}
	.main_plan_form .tab_cont_wrap .tab_cont.plan02 .num label {display: none}

	.main_plan_form .tab_cont_wrap .tab_cont.plan02 .plan02_1 {width: 151px}
	.main_plan_form .tab_cont_wrap .tab_cont.plan01 .estimate {margin-left: 12px}
	.main_plan_form .tab_cont_wrap .tab_cont .estimate {width: 146px; margin-left: 18px; font-size: 21px; height: 126px; line-height: 126px}
	.main_plan_form .tab_cont_wrap .tab_cont .date input::-webkit-input-placeholder {color: #333}
	.main_plan_form .tab_cont_wrap .tab_cont .date input:-moz-placeholder {color: #333}
	.main_plan_form .tab_cont_wrap .tab_cont .date input::-moz-placeholder {color: #333}
	.main_plan_form .tab_cont_wrap .tab_cont .date input:-ms-input-placeholder {color: #333}

	.main_popular {padding-bottom: 63px}
	.main_popular .popular:after {content:''; display: block; clear: both}
	.main_popular .popular div.popular_cont {position: relative; float: left; width: 276px; margin: 0}
	.main_popular .popular div.popular_cont:nth-child(1) {width: 587px;  margin-right: 29px;}
	.main_popular .popular div.popular_cont:nth-child(1) img{height:569px}

	.main_popular .popular div.popular_cont:nth-child(2), .main_popular .popular > div:nth-child(4) {margin-right: 29px}
	.main_popular .popular div.popular_cont:nth-child(2), .main_popular .popular > div:nth-child(3) {margin-bottom: 35px}
	.main_popular .popular > div:nth-child(3) {margin-right: 0 !important}
	.main_popular .popular > div:nth-child(5) {margin-right: 0 !important} 
	.main_popular .popular div.popular_cont {overflow: hidden;}
	.main_popular .popular div.popular_cont img {-webkit-transform:scale(1); -moz-transform:scale(1);-o-transform:scale(1); transform:scale(1); transition: transform .35s; -o-transition: transform .35s;-moz-transition: transform .35s; -webkit-transition: transform .35s;}
	.main_popular .popular div.popular_cont:hover img {-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);  transition: transform .35s;-o-transition: transform .35s;-moz-transition: transform .35s; -webkit-transition: transform .35s}
	.main_popular .popular div.popular_cont img {width: 100%; height:267px;}
	.main_popular .popular div.popular_cont span {display: inline-block; color: #fff; font-weight: 300; vertical-align: middle}
	.main_popular .popular div.popular_cont .nation {position: absolute; top: 0; left: 0; width: 60px; height: 60px; background: #00baf2 url(/asset/images/common/ico_star.jpg) no-repeat center 11px; font-size: 15px; text-align: center; box-sizing: border-box; padding-top: 30px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .info {position: absolute; bottom: 0; left: 0; width: 100%; height: 83px; padding: 19px 15px 0 15px; background: rgba(0,0,0,0.5); box-sizing: border-box}
	.main_popular .popular div.popular_cont .period:after {content: ''; display: inline-block; width: 1px; height: 13px; margin: 0 4px 0 9px; background: #fff; }
	.main_popular .popular div.popular_cont .place {max-width: 80px; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .tit {display: block; font-size: 20px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_popular .popular div.popular_cont .date {position: absolute; bottom: 8px; right: 15px;; font-size: 15px}
	.main_popular .popular div.popular_cont:nth-child(1) .nation {width: 70px; height: 70px; padding-top: 35px}
	.main_popular .popular div.popular_cont:nth-child(1) .info {height: 102px; padding: 23px 15px 0 15px;}
	.main_popular .popular div.popular_cont:nth-child(1) .tit {font-size: 24px}
	.main_popular .popular div.popular_cont:nth-child(1) .period:after {margin: 0 5px 0 10px}
	.main_popular .popular div.popular_cont:nth-child(1) .date {bottom: 15px; font-size: 17px}
	.main_popular .popular div.popular_cont:nth-child(1) .place {max-width: 300px}
	.main_popular .popular div.popular_cont.last {display: none}

	.main_community {padding-bottom: 63px}
	.main_community .inner > div {overflow: hidden; width: 50%; float: left; box-sizing: border-box}
	.main_community .inner > div > div {width: 50%; height: 320px}
	.main_community .inner > div.community01 .txt a:after, .main_community .inner > div.community02 .txt a:after {position: absolute; left: auto; right: -20px; top: 50%;  margin-top: -20px; content: ''; display: block; width: 0px; height: 0px; border-top: 20px solid transparent; border-left: 20px solid #fff; border-bottom: 20px solid transparent; border-right: 0}
	.main_community .inner > div.community03 .txt a:after, .main_community .inner > div.community04 .txt a:after {position: absolute; left: -20px; right: auto; top: 50%;  margin-top: -20px; content: ''; display: block; width: 0px; height: 0px; border-top: 20px solid transparent; border-right: 20px solid #fff; border-bottom: 20px solid transparent; border-left: 0}
	.main_community .inner > div .txt {}
	.main_community .inner > div .txt:hover {background-color: #01b6ed}
	.main_community .inner > div .txt:hover span {color: #fff}
	.main_community .inner > div .txt:hover a {background: url(/asset/images/main/btn_arrow_on.jpg) no-repeat center 237px; background-size: 40px}
	.main_community .inner > div.community01 .txt a:hover:after, .main_community .inner > div.community02 .txt a:hover:after {position: absolute; left: auto; right: -20px; top: 50%;  margin-top: -20px; content: ''; display: block; width: 0px; height: 0px; border-top: 20px solid transparent; border-left: 20px solid #00bbed; border-bottom: 20px solid transparent; border-right: 0}
	.main_community .inner > div.community03 .txt a:hover:after, .main_community .inner > div.community04 .txt a:hover:after {position: absolute; left: -20px; right: auto; top: 50%;  margin-top: -20px; content: ''; display: block; width: 0px; height: 0px; border-top: 20px solid transparent; border-right: 20px solid #00bbed; border-bottom: 20px solid transparent; border-left: 0}
	.main_community .inner > div .txt a {position: relative; display: block; height: 100%; background: url(/asset/images/main/btn_arrow_off.jpg) no-repeat center 237px; background-size: 40px}
	.main_community .inner > div .txt span.kinds {padding-top: 49px; padding-bottom: 5px; font-size: 21px;}
	.main_community .inner > div .txt span.tit {padding-bottom: 8px; margin: 0 15px; font-size: 17px;}
	.main_community .inner > div .txt span.desc { margin: 0 12px; font-size: 15px; height: 38px;}
	.main_community .inner > div .txt span.date {padding-top: 22px; font-size: 15px;}
	.main_community .inner > div .img_none {background-size: 194px}
	.main_community .community01 .txt, .main_community .community02 .txt, .main_community .community03 .img, .main_community .community04 .img {float: left}
	.main_community .community01 .img, .main_community .community02 .img, .main_community .community03 .txt, .main_community .community04 .txt {float: right}

	.main_recommend {padding-bottom: 63px; background: url(/asset/images/main/bg_main_recommend.jpg) no-repeat center center; background-size: cover}
	.main_recommend h2 {color: #fff}
	.main_recommend .main_more {background: url(/asset/images/main/arrow_main_direct02.png) no-repeat 100% center; color: #b0b0b0}
	.main_recommend .recommend_slider {width: 100%}
	.main_recommend .recommend_slider .bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index: 99}
	.main_recommend .recommend_slider .slick-slide {position: relative; margin: 0 14px}
	.main_recommend .recommend_slider .slick-slide a {display: block; width: 100%; }
	.main_recommend .recommend_slider .slick-slide a img.adimg{display: block; width: 100%; height: 312px; }
	.main_recommend .recommend_slider .slick-slide img {width: 100%}
	.main_recommend .recommend_slider .slick-slide {display: block}
	.main_recommend .recommend_slider .slick-slide .info {position: absolute; bottom: 0; left: 0; width: 100%; padding: 25px 18px 10px 18px; height: 102px; background: #2056af; color: #fff; display: block; box-sizing: border-box}
	.main_recommend .recommend_slider .slick-slide .info span {}
	.main_recommend .recommend_slider .slick-slide .info .tit {float :left; width: 62%; height: 50px; font-size: 20px; font-weight: 400;}
	.main_recommend .recommend_slider .slick-slide .info .date {float: right; width: 35%; padding-left: 3%; padding-top: 32px; font-weight: 300}
	.main_recommend .recommend_slider .slick-slide .pc_link {display: none}
	.main_recommend .arrow_slider {padding-top: 36px; font-size: 0; text-align: center}
	.main_recommend .arrow_slider li {display: inline-block}
	.main_recommend .arrow_slider li button {display: block; width: 51px; height: 51px}
	.main_recommend .arrow_slider li button.recommend-slick-prev {background: url(/asset/images/main/arrow_cont3_left.png) no-repeat center center}
	.main_recommend .arrow_slider li button.recommend-slick-next {position: relative; left: -1px; background: url(/asset/images/main/arrow_cont3_right.png) no-repeat center center}
	.main_recommend .recommend_slider .slick-slide .pc_link {opacity: 0; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; padding-top: 38%; background:rgba(0,0,0,0.6); text-align: center; box-sizing: border-box}
	.main_recommend .recommend_slider .slick-slide .pc_link span {display: block; text-align: center}
	.main_recommend .recommend_slider .slick-slide .pc_link .flag img {width: 25%}
	.main_recommend .recommend_slider .slick-slide .pc_link .nation {padding-top: 10px; padding-bottom: 40px; font-size: 20px;color: #fff; letter-spacing: -0.03em}
	.main_recommend .recommend_slider .slick-slide .pc_link .more {display: inline-block; padding-right: 15px; background: url(/asset/images/main/arrow_recommend_over.png) no-repeat 100% center; font-size: 15px; font-weight: 400; color: #fff}
	.main_recommend .recommend_slider .slick-slide {}

	.main_tour {margin-top: 75px; padding-bottom: 100px}
	.main_tour .tab_btn {float: left; width: 125px;}
	.main_tour .tab_btn li {float: none; width: 100%; text-align: center}
	.main_tour .tab_btn li a {position: relative; display: block; height: 130px; font-size: 21px; font-weight: 700; line-height: 124px; border: 1px solid #f7b934; border-right: 1px solid #f7b934; border-bottom: 0}
	.main_tour .tab_btn li a.on {background: #f7b934; color: #fff}
	.main_tour .tab_btn li a.on:after {position: absolute; right: -1px; top: 50%; margin-top: -12px; content: ''; display: block; width: 0; height: 0; border-right: 12px solid #fff; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-left: 0}
	.main_tour .tab_btn li:last-child a {border-bottom: 1px solid #f7b934}
	.main_tour .tab_cont_wrap {float: left; width: calc(100% - 190px); padding: 30px; border: 1px solid #f7b934; border-top: 1px solid #f7b934; border-left: 0}
	.main_tour .tab_cont_wrap .tab_cont:after {content: ''; display: block; clear: both}
	.main_tour .tab_cont_wrap .tab_cont .comment_main {float: left; width: 417px; padding-right: 28px; border-right: 1px solid #ededed; margin-right: 28px}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub {display: block; float: left; width: 527px}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub > div {padding-bottom: 12px; margin-bottom: 12px; border-bottom: 1px solid #ededed}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub > div:last-child {padding-bottom:0; margin-bottom: 0; border: 0}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub > div:after {content: ''; display: block; clear: both}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub .img {float: left; padding-right: 20px}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub .img img {width: 161px; height: 88px}
	.main_tour .tab_cont_wrap .tab_cont .comment_sub .info {float: left; width: 345px}
	.main_tour .tab_cont_wrap .tab_cont span {display: block}
	.main_tour .tab_cont_wrap .tab_cont .info {position: relative}
	.main_tour .tab_cont_wrap .tab_cont .info .nation {padding-top: 15px; padding-bottom: 0px; font-size: 17px; color: #f7b934}
	.main_tour .tab_cont_wrap .tab_cont .info .nation:before {content: '['}
	.main_tour .tab_cont_wrap .tab_cont .info .nation:after {content: ']'}
	.main_tour .tab_cont_wrap .tab_cont .info .comment {font-weight: 300; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap}
	.main_tour .tab_cont_wrap .tab_cont .info .count {position: absolute; top: 15px; right: 2px}
	.main_tour .tab_cont_wrap .tab_cont ul.count:after {content: ''; display: block; clear: both}
	.main_tour .tab_cont_wrap .tab_cont ul.count li {font-size: 13px}
	.main_tour .tab_cont_wrap .tab_cont ul.count li.count01 {padding-left: 17px; margin-right: 17px;  background: url(/asset/images/common/icon_f.png) no-repeat 0 center; background-size: 14px;}
	.main_tour .tab_cont_wrap .tab_cont ul.count li.count02 {padding-left: 16px; background: url(/asset/images/common/ico_post.jpg) no-repeat 0 center; background-size: 13px}
	.main_tour .main_tour_more {bottom: 65px; left: 50%; margin-left: -75px; display: block; width: 149px; height: 49px; font-size: 14px; background: url(/asset/images/main/arrow_main_tour_more.gif) no-repeat 113px center; line-height: 49px; text-indent: 28px}
    .main_visual .main_slider  .img  .main_visual_txt {position:absolute; top: 14%; left:calc(50% - 354px) ;width: 708px; }

	.relative {position:relative;}
	.relative div[class^='info-icon'] {cursor:pointer; z-index:10000;}
	.relative .none {display:none;}
	.info-icon1 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/1.png') no-repeat; top:-25px; left:-145px;}
	.info-icon2 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/2.png') no-repeat; top:-25px; left:-95px;}
	.info-icon3 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/3.png') no-repeat; top:-20px; left:-35px;}
	.info-icon4 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/4.png') no-repeat; top:40px; left:-200px;}
	.info-icon5 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/5.png') no-repeat; top:60px; right:250px;}
	.info-icon6 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/6.png') no-repeat; top:-50px; right:-40px;}
	.info-icon7 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/7.png') no-repeat; top:-10px; right:0;}
	.info-icon8 {width:235px; height:115px; background:url('/asset/images/common/icon/8.png') no-repeat; margin:0 auto -30px;}
	.info-icon9 {width:235px; height:115px; background:url('/asset/images/common/icon/9.png') no-repeat; margin:0 auto -30px;}
	.info-icon10 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/10.png') no-repeat; top:40px; right:160px;}
	.info-icon11 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/11.png') no-repeat; top:-85px; left:0;}
	.info-icon12 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/12.png') no-repeat; top:-25px; left:-180px;}
	.info-icon13 {position:absolute; width:235px; height:115px; background:url('/asset/images/common/icon/13.png') no-repeat; top:-90px; left:120px;}
	.info-icon14 {position:absolute; width:235px; height:162px; background:url('/asset/images/common/icon/14.png') no-repeat; top:0; right:310px;}
}

@media screen and (max-width: 480px){
	.main_recommend .recommend_slider .slick-slide .info {position: static}
    .main_visual .main_slider  .img  .main_visual_txt {position:absolute; top: 24%; left: calc(50% - 190px); width: 380px; }
	
}


@media screen and (max-width: 400px){
	.main_popular .popular div.popular_cont span {display: block}
	.main_popular .popular div.popular_cont .info {position: static; bottom: 0; left: 0; width: 100%; height: 90px; padding: 9px 12px 0 12px; background: #222; box-sizing: border-box}
	.main_popular .popular div.popular_cont .info span {margin-top: -2px; font-size: 14px}
	.main_popular .popular div.popular_cont .info span.tit {font-size : 15px}
	.main_popular .popular div.popular_cont .info span.date {font-size: 13px}
	/* ���� �ο��� FULLSIZE*/
	.main-su-box { display:none;width:238px;border:1px solid #c7c7c7;float:right;right:0;margin-right:20px;;margin-top:-50px;padding:10px 10px;background-color:#ffffff; }
	.main-su-box.on { display:block; z-index:99;}
	 div.main-su-box  > .box-outer { display:block;width:100%; }
	 div.main-su-box  > .box-outer > .box1 { width:40%;float:left;text-align:left; }
	 div.main-su-box  > .box-outer > .box2 { width:60%;float:left; }
	 div.main-su-box  > .box-outer > .box2  .lbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
	 div.main-su-box  > .box-outer > .box2  .cbox { width:32%;float:left;border:1px solid #ccc;text-align:center;height:30px; cursor:pointer; }
	 div.main-su-box  > .box-outer > .box2  .cbox  input{ border:0px;text-align:center; font-size:13px;font-weight:normal;color:#000;height:25px;width:100%;}
	 div.main-su-box  > .box-outer > .box2  .rbox { width:32%;float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;height:30px; cursor:pointer;}
	

}


@media screen and (max-width: 530px){
	.main_visual .main_slider .img {height: 220px}
	.main_visual .main_slider  .img  .main_visual_txt{position:absolute; top: 21%; left: calc(50% - 135px); width: 270px;}
	
}
